@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-image: url("./assets/images/background-pattern-desktop.svg");
  /* background-size: cover; */
  /* background-position: top; */
  /* background-repeat: no-repeat; */
  font-family: "Work Sans", sans-serif;
}
@media (max-width: 375px) {
  body {
    background-image: url("./assets/images/background-pattern-mobile.svg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 375px;
  }
  .container {
    width: 85%;
    justify-content: center;
    height: auto;
  }
  .first-head {
    width: 200px;
    justify-content: space-between;
  }
}
